:root {
  --primary-color: black;
  --secondary-color: white;
  --font-family: roboto;
}

body {
  background-color: var(--primary-color);
  margin: 60px auto;
  max-width: fit-content;
}

h1,
h2,
h3,
p {
  text-align: center;
  margin: 0;
  color: var(--secondary-color);
  font-family: var(--font-family);
}

h1 {
  font-size: 75px;
  margin-top: 30px;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 35px;
  margin-top: 20px;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 24px;
}

h5 {
  color: var(--secondary-color);
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 16px;
}

p {
  margin-bottom: 50px;
}

.navigation-links {
  display: flex;
  margin-top: 0;
  justify-content: center;
}

.navigation-links-about {
  display: flex;
  margin-top: 30px;
  justify-content: left;
}

.navigation-links a {
  padding: 18px 40px;
  text-decoration: none;
  border-radius: 50px;
  line-height: 17px;
}

.navigation-links-about a {
  margin: 20px 20px 20px 0;
  padding: 18px 40px;
  text-decoration: none;
  border-radius: 50px;
  line-height: 17px;
}

.contact-link,
.contact-link-about {
  background: var(--secondary-color);
  color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.all-pages-links {
  color: var(--secondary-color);
  text-align: center;
  display: block;
  margin: 10px;
  text-decoration: none;
}

@media (max-width: 810px) {
  h1 {
    font-size: 45px;
    text-align: center;
  }
  h2 {
    font-size: 35px;
  }

  .container-about h1 {
    font-size: 35px;
  }
}

@media (min-width: 1080px) {
  .container-gallery h2 {
    margin-top: 0;
  }
}

.photographer {
  width: 400px;
  margin-top: 40px;
}

.container-about {
  margin-top: 20px;
}

.photo-bw {
  display: flex;
  width: 300px;
  margin-top: 20px;
  justify-content: center;
}

.about,
.camera {
  color: #f65282;
  text-align: left;
  letter-spacing: 0.1em;
}

.container-contact h3 {
  color: #f65282;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.1em;
}

.about {
  margin-top: 15px;
}

.camera {
  margin-bottom: 50px;
}

.iryna {
  text-align: left;
  font-weight: 700;
  font-size: 50px;
  margin-top: 20px;
}

.photocamera {
  color: var(--secondary-color);
  font-family: var(--font-family);
  margin-left: 30px;
  font-size: 18px;
}

.gallery {
  line-height: 84px;
}

.container-gallery img {
  width: 400px;
}

.container-gallery h2 {
  margin-top: 80px;
  text-align: left;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: #0a58ca;
}

.github-footer {
  font-size: 12px;
  text-align: center;
  color: white;
  padding-top: 15px;
}

footer .github-link a {
  text-decoration: none;
  color: var(--secondary-color);
}
